app = "bd-alities-engine"
primary_region = "ewr"

[build]

[env]
  PORT = "9847"

[http_service]
  internal_port = 9847
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1

[[http_service.checks]]
  grace_period = "30s"
  interval = "30s"
  method = "GET"
  timeout = "5s"
  path = "/health"
